.el_draftApply{display:inline-block;padding:5px 10px;border-radius:5px;border:1px solid #ebebeb;margin:5px 15px;margin-left:0;}
.el_draftApply:hover{background-color:#e3f4ff;border-color:#e3f4ff;}

.bl_navToggle__btn{cursor:pointer;position:relative;}
.bl_navToggle__btn::after{content:"";display:block;border-top:8px solid #363636;border-left:5px solid transparent;border-right:5px solid transparent;position:absolute;right:30px;top:45%;}
.bl_navToggle__btn.bl_navToggle__open::after{transform:rotate(180deg);}
.bl_navToggle__cont{display:none;}

.el_approvalSign{height:42px;background:no-repeat center/contain;padding:0px!important;min-width:120px;}
